/* ツイート送信ボタンを大きくする */
.compose .antiscroll-inner {
  height: calc(100vh - 240px) !important;
  position: static !important;
}
.compose .antiscroll-inner > .cf:not(.margin-v--14) > .pull-right {
  display: block !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: auto !important;
  max-height: 240px !important;
}
.compose .antiscroll-inner > .cf.margin-t--12 > .pull-right button {
  height: 120px !important;
  width: 100% !important;
  position: relative !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
}
.compose .antiscroll-inner > .cf  .js-compose-sending-success {
  height: 120px !important;
  width: 100% !important;
  position: relative !important;
  top: -120px !important;
  left: 0 !important;
  text-align: center !important;
  line-height: 120px !important;
  font-size: 20px !important;
  margin-top: 0 !important;
}
